#art {
    display: table;
    border-spacing: 1px;
    background-color: black;
    border: 5px solid black;
    margin-right: auto;
    margin-left: auto;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
}

.pen {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid black 2px;
}

body {
  font-size: 22px;
  font-family: "Arial";
  text-align: center;
}